

.main{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.text{
    width: 300px;
    background-color: palevioletred;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: burlywood;
}
